* {
    font-family: 'Courier New', Courier, monospace;
}
.calculatrice {
    display: grid;
    width: 500px;
    margin: 0 auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px repeat(5, 30px);
    grid-template-areas:
      "res res res res"
      "7 8 9 reset"
      "4 5 6 reset"
      "1 2 3 reset"
      "0 dot plus minus"
      "equal equal times div";
      border: 4px solid #5f4b8bff;
      border-radius: 4px;
      background: #e69a8dff ;
      color: white;
}

h3 {
    text-align: right;
    margin: 7px 10px 0 0;
    font-size: 2rem;
    grid-area: res;
}
button {
    background: #5f4b8bff;
    color: white;
    border: 1px solid #e69a8dff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: rgb(51, 40, 73);
}

#egal {
    grid-area: equal;
}

#clear {
    grid-area: reset;
}