   /* NAVBAR */

   .navbar-collapse {
       flex-grow: 0;
   }

   .block {
       background-color: black;
       height: 56.45px;
       margin: 0;
   }

   .navbar {
       background-color: #111 !important;
       border-bottom: 2px solid #f00;
       box-shadow: 0px 8px 18px 1px #FF0000;
   }

   .navbar-brand {
       font-family: "Righteous";
       color: #f00 !important;
   }

   /* FONT */

body {
    background-color: #fff;
    font-family: "IBM Plex Mono";
    color: #fff;
    text-align: justify;
}
h1, h2, h3 {
    font-family: "Righteous";
    color: #f00;
}

/* BOUTONS */

.btn-secondary {
    background-color: #111;
    border: 4px double #f00;
    font-family: "Righteous";
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    transform: scale(1.03);
    transform-origin: center;
    transition: all 200ms ease-in ;
    background-color: #f00 !important;
    border-color: #111 !important;
    color: #000 !important;
    box-shadow: 0px 0px 10px 1px #f00 !important;
    text-align: center;
}

/* CARDS */

.cardp {
    height: auto;
    width: 50%;
    text-align: center;
}

.card-body {
    background-color: #111;
}

/* FOOTER */

.block2 {
    background-color: #111;
    height: 60px;
    margin: 0;

}

.footer {
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #111;
    border-top: 2px solid #f00;
    box-shadow: 0px -6px 15px 1px #FF0000;
}

.modal-content {
    background-color: #111;
    border: 3px solid #f00;
    box-shadow: 0px 0px 15px 1px #FF0000;

}

.modal-footer {
    border-top: 4px double #f00; 
}