body {
    font-family: "Roboto Mono" , monospace; 
}

h1 {
    font-family: "Inconsolata",monospace;
}

.pcont {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7587bf;
}

.txt-accueil {
    text-align: center;
    /* font-size: 90%; */
}



footer {
    background-color: aqua;
    width: 100%;
}